#container{
	position:relative;
}
#container img{
	position:absolute;
	top:10px;
	border-right:1px solid grey;
}

#container2{
	 position:absolute; 
	 display:block;
	 top : 230px;
	 background-color:#f5f5f5;
}

#detail{
	position:absolute;
	top:180px;
	color:#FF34B3;
}

#container2 img{
	padding:5px 5px;
}